{% extends "rapido/staff/staff.html" %}
{% block body_block %}
    <style type="text/css">
      .pagination{
        margin: 0;
      }
      .red{color:#e60b0b}
  .green{color:#269212}

     
  .actived{
    color: black;
    font-weight: bold;
  }
    </style>

    <section class="content-header">
      <h6>
      <ol class="breadcrumb">
        <li><a href="/rapido/staff_todaysbooking_list/">Today's Bookings </a></li>
        <li><a href="/rapido/staff_booking_list/">New Bookings </a></li>
        <li><a href="/rapido/staff_create_booking_company/"> Create Booking for Company</a></li>
        <li><a class="actived" href="/rapido/staff_view_all_booking/"> View All Bookings</a></li>
        <li><a href="/rapido/staff_create_booking_others/"> Create Booking for Others</a></li>
        <li><a href="/rapido/staff_create_oldbooking_company/"> create old bookings</a></li>
      </ol>
      </h6>
    </section>


    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">View all booking</h3>
              <span id="reportrange" data-url='/rapido/staff_view_all_booking/' style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span></span> <b class="caret"></b></span>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th >Date</th>
                  <th >Booking ID</th>
                  <th >Booked from</th>
                  <th >Type of Service</th>
                  <th>Company</th>
                  <th >City</th>
                  <th >Guest Name</th>
                  <th >Guest PhoneNo</th>
                  <th >PickUp date & time</th>
                  <th style="display: none;"> present time</th>
                  <th >pickup location</th>
                  <th >drop location</th>
                  <th >requested vehicle</th>
                  <th >billing type</th>
                  <th >status</th>
<!--                   <th >view details</th> -->
                  <!-- <th >assign</th> -->
                </tr>
                </thead>
                <tbody>
                {% for b in booking_list %}
 
                    <tr class="outer_loop">
                      <td>{{b.created_date.date}}</td>
            
                      <td><a href="">RTIPL-{{b.servicing_city.city_code}}-{{b.booking_id}}</a></td>     
                      <td>{{b.booking_from}}</td>
                      <td>{{b.service_type}} </td>
                      <td>{{b.company}}</td>
                      <td>{{b.servicing_city.name}}</td>
                      <td>{{b.guest_name}}<br>

                      ------------
                      {% if b.bookingsms.emailsent == 1 %}
                      <p><i class="fa fa-address-card-o green"></i></p>
                      <p style="color: green" >sent </p>
                      {% else %}
                      <p><i class="fa fa-envelope-o red"></i></p>
                      <p style="color: red" >send now </p>
                      {% endif %}
                      </td>

                      <td>{{b.guest_phoneno}}<br>

                      ---------------
                      {% if b.bookingsms.smssent == 1 %}
                      <p><i class="fa fa-envelope-o green"></i></p>
                      <p style="color: green" >sent </p>
                      
                      {% else %}
                      <p><i class="fa fa-envelope-o red"></i></p>
                      <p style="color: red" >send now </p>
                      {% endif %}
                      </td>

                      <td >{{b.pickup_date_time|date:'dS'}}&nbsp;{{b.pickup_date_time|date:'b'}}&nbsp;{{b.pickup_date_time|date:'Y'}}<br/>{{b.pickup_date_time|date:'H:i'}}</td>
                      <td class="inner_loop" style=" display: none;" >{{b.pickup_date_time|date:'Y-m-d H:i' }}</td>

                      <td>{{b.pick_up_location}}</td>
                      <td>{{b.drop_location}} </td>
                      <td>{{b.requested_vehicle_model}}</td>
                      <td>{{b.billing_base}} </td>
                      <td><span class="label label-success">{{b.status}}</span><span style="display: none;" class="status_id">{{b.status_id}}</span></td>
                      <!-- <td><a href=""><span class="label label-primary">view</span></a></td>  -->

                      <!-- <td><a href="/rapido/staff_assigncab/{{b.booking_id}}/"><button class="btn btn-success">Assign</button></td> -->
                                      
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

<script type="text/javascript">
  // time color problem
  x=document.getElementsByClassName("inner_loop");  // Find the element
  y=document.getElementsByClassName("outer_loop");

  for(var j = 0;j<y.length;j++){
     for(var i = 0; i < x.length; i++){
         var a = [];
         var c = [];
         var d = new Date();
         var n = d.getTime();
         a[i] = new Date(x[i].innerHTML).getTime();
         // console.log(new Date(x[i].innerHTML));
         var status = document.getElementsByClassName("status_id")[i].innerHTML;
         var hour = Math.floor((a[i]-n)/3600000);
         minute = new Date(x[i].innerHTML).getMinutes() - d.getMinutes();
         // seconds = new Date(x[i].innerHTML).getSeconds() - d.getSeconds();
         // console.log(hour+":"+minute);
         c[i] = new Date(x[i].innerHTML).getDate()+""+(new Date(x[i].innerHTML).getMonth()+1)+""+new Date(x[i].innerHTML).getFullYear();
         var b = d.getDate()+""+(d.getMonth()+1)+""+d.getFullYear();
         // if((parseInt(c[i])==parseInt(b) && diff<) ||  ){
         //     y[i].style.backgroundColor = "red";
         // }
         if(parseInt(c[i])==parseInt(b)){
             if(hour<3 || hour==3 && minute==0){
                if(status=="1"){
                 y[i].style.color = "red";
                }
                else{
                  y[i].style.color = "black";
                }
             }
             else if(hour>=3 && hour<5){
              y[i].style.color = "green";
             }
         }
         else if(new Date(x[i].innerHTML).getDate()-d.getDate()==1){
             if(hour<3 && hour>=0 || hour==3 && minute==0){
                if(status=="1"){
                 y[i].style.color = "red";
                }
                else{
                  y[i].style.color = "black";
                }
             }
         }
         console.log(status);
     }
  }
</script>

{% endblock %}

{% block javascript %}

  <script>

         $(function () {
           $('#example1').DataTable({
           dom: "<'row'<'col-sm-4'l><'col-sm-4'f><'col-sm-4'p>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          });
         
           //search implementation
         });

  </script>

{% endblock %}