{% extends "rapido/master/master.html" %}
{% block body_block %}
{% load static %}
<style type="text/css">
  #result {
   position: absolute;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
  }
  .link-class:hover{
   background-color:#f1f1f1;
  }

.inputs { width: 34px; }


  input.error{
    border-color: red;
  }

  label.error{
    color: red;
    font-weight: 300 !important;
  }
   </style>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" style="padding: 1px 25px;">
      <h4> Create Duty slip 
      <span class="pull-right">Type of Service:{{booking.service_type}}</span></h4> 
      </div>
            <!-- /.panel-heading -->
      <div class="panel-body">
              <table class="table">
                  <tr style="border: 1px ;background-color: #dddddd;">
                    <th>Date of Booking:</th> <td>{{booking.created_date}}</td>

                    <th>Booking ID:</th><td>RTIPL-{{booking.servicing_city.city_code}}-{{booking.booking_id}}</td>
                    
                    <th>category : </th> <td>{{booking.category}}</td>

                  </tr>
                  <tr>
                    <th>Booking from:</th><td>{{booking.booking_from}}</td>
                    <th>Booking Email:</th> <td>{{booking.booking_email}}</td>
                    <th>Booking Phone no:</th><td>{{booking.booking_phoneno}}</td>
                  </tr>
                  <tr>
                    <th>Guest Name:</th><td>{{booking.guest_name}} </td>
                    <th>Guest Phone No:</th><td>{{booking.guest_phoneno}}</td>
                    <th>Guest Email:</th><td>{{booking.guest_email}}</td>  
                  </tr>
                  <tr>
                    <th>PickUp date & time</th><td><li>{{booking.pickup_date_time.date }}</li><li>{{booking.pickup_date_time.time}}</li> </td>
                    <th> pickup location</th>
                    <td>{{booking.pick_up_location}} </td>
                    <th>Servicing city</th>
                    <td>{{booking.servicing_city.name}} </td>
                  </tr>
                  <tr>
                    <th> drop location</th>
                    <td>{{booking.drop_location}} </td>

                  <!--     <td><li>{{booking.drop_location.street_address}},{{booking.drop_location.area}},{{booking.drop_location.city}},{{booking.drop_location.state}}</li><li>{{booking.drop_location.pincode}}</li>
                      </td>
                      <th> land mark</th><td>{{booking.drop_location.landmark}}</td>
 -->
                    <th> requested vehicle</th><td>{{booking.requested_vehicle_model}}</td>
                 
                  </tr>
                  </table>
                  <hr>
                  <h5> Allocate the Vehicle and chauffeur</h5>
                  <hr>
<form id="cab_assign_form">

  <table>
        <input type="hidden" value={{booking.category.id}} name="category"></input>
        <tr style="border: 1px ;background-color: #dddddd;">
            <th>Select Vendor:</th>
            <td>
                <input type="text" id="vensearch" placeholder="Select vendor" class="form-control" required/>

                <input type="text" id="vendorid" style="display: none;" name="vendor">

                <ul class="list-group" id="result"></ul>
            </td>


            <th>Vehicle Model:</th>
            <td><input type="text" class="form-control" id="vehicle_model" name="allocated_vehicle" placeholder="vehicle model name" required=""></td>


            <th>vehicle No:</th>
            <td><input name="vehicle_no" class="form-control" placeholder="AA 99 AA 9999" id="vehicle_no" pattern="^[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{4}$" title="please enter No in AA 99 AA 9999 formate" />
            </td>


            <th>vehicle Colour:</th>
            <td><input type="text" class="form-control" value="white" id="vehicle_color" name="vehicle_colour" placeholder="vehicle colour"></td>
        </tr>

        <tr>
            <td>chauffeur Name:</td>
            <td><input type="text" class="form-control" id="chauffeur_name" placeholder="chauffeur Name" name="chauffeur_name" required=""></td>
            <td>chauffeur phoneno:</td>
            <td><input type="text" class="form-control" id="chauffeur_phone" placeholder="chauffeur phoneno" name="chauffeur_phoneno" pattern="[0-9]{10}" maxlength="10" min="7000000000" max="9999999999" required=""></td>
            <td>chauffeur Drivinglicense:</td>
            <td><input type="text" class="form-control" id="chauffeur_dl" placeholder="chauffeur Drivinglicense" name="chauffeur_drivinglicense"></td>
        </tr>
        <tr>
            <td><button id="assign" class="btn btn-success">Assign</button></td>
        </tr>
    </table>
      </form>
        <ul id="search_list" style="display: none;"> {% for c in vendor_list %}
          <li value="{{c.id}}">{{ c.vendor_name}} | {{ c.vendor_phoneno}}</li>
        {% endfor %}
        </ul>          
      </div>
     </div>
  </div>

</div>


{% endblock %}


{% block javascript %}

<script type="text/javascript">
  

//vendor autocomplete search
  $( function() {
    var availableTags = [];
$("#search_list li").each(function() { availableTags.push({
  label:$(this).text(),
  value:$(this).val()
}); 
});

console.log(availableTags);

    $( "#vensearch" ).autocomplete({
      source:availableTags,
      select: function( event, ui ) {
            $( "#vensearch" ).val( ui.item.label);
            $( "#vendorid" ).val( ui.item.value); //ui.item is your object from the array
            return false;
        }
    });

  });


//vendor autocomplete search end

$(function(){
var city_id = "{{booking.servicing_city.id}}" ;
var category_id = "{{booking.category.id}}";
var array = [];
var vehicle_varient;
//vehicle varient
switch("{{booking.service_type.id}}") {
    case '1': 

                    if("{{booking.company.id}}"){
                      $.getJSON('/rapido/api/companyairportprice/{{booking.company.id}}/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array);  
                         });

                      });
                      
                    }

                    else{

                      $.getJSON('/rapido/api/airportprice/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array); 
                         });

                      });
                    }
                    break;
    case '2':
                    if("{{booking.company.id}}"){

                      $.getJSON('/rapido/api/companyoutstationprice/{{booking.company.id}}/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array); 
                         });

                      });
                      
                    }

                    else{

                      $.getJSON('/rapido/api/outstationprice/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array); 
                         });

                      });
                    }
                    break;
    case '3':
                    if("{{booking.company.id}}"){

                      $.getJSON('/rapido/api/companycityprice/{{booking.company.id}}/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array); 
                         });

                      });
                      
                    }

                    else{

                      $.getJSON('/rapido/api/cityprice/'+city_id+'/'+category_id,function(data)
                      {
                         $.each(data, function(key, value)
                         {
                            vehicle_varient = value.vehicle_varient;
                            array = vehicle_varient.split(',');
                            console.log(array); 
                         });

                      });
                    }
                    break;
}

    $("#vehicle_model").autocomplete({
      source:function(request,response){
        response(array);
      }
    });

});

    $(function(){

        $("#cab_assign_form").validate();

      $( "#assign" ).click(function(e){
        e.preventDefault();

        if($("#cab_assign_form").valid()){

      var assign_cab = {
    "chauffeur_drivinglicense": $("#chauffeur_dl").val(),
    "chauffeur_name": $("#chauffeur_name").val(),
    "vehicle_no": $("#vehicle_no").val(),
    "vehicle_colour": $("#vehicle_color").val(),
    "allocated_vehicle": $("#vehicle_model").val(),
    "chauffeur_phoneno": $("#chauffeur_phone").val(),
    "booking": {{booking.id}},
    "category":{{booking.category.id}},
    "created_by": {{user.id}},
    "vendor" :parseInt($("#vendorid").val()),
    "status":1
      };

        $.ajax({
            url: '/rapido/api/get_dutyslip_list/',
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            contentType: 'application/json',
            data: JSON.stringify(assign_cab),
            success: function(res) {
                swal({
                  title:"Success!",
                  text:"Message sent successfully",
                  icon:"success",
                  buttons:["Not now","Dispatch now"]
                }).then((willDelete) => {

                  $.getJSON('/rapido/dutyslipsms/'+res.id+'/', function(dutyslipsms) {});

                  $.getJSON('/rapido/admin_createdutyslip/{{booking.booking_id}}', function(data) {});
                  // $.getJSON('/rapido/tripdetailemail/'+res.id+'/', function(data) {
                  //   console.log(data);
                  // });
                      if (willDelete) {
                        window.location.href="/rapido/admin_dutyslip/{{booking.booking_id}}/";

                      } else {
                        window.location.href="/rapido/admin_dutyslip_list/";
                      }
                    });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if(jqXHR.status==500 || jqXHR.status==400){
                  swal ( "Oops" ,  "Cab is already to assigned to this booking check it in dutyslip list" ,  "error" );
                document.getElementById("cab_assign_form").reset();
                }
            }
        });
        }
      });

    });


</script>
{% endblock %}
