{% extends "rapido/master/master.html" %}
{% block body_block %}
{% load static %}

<!-- Main content -->

  <section class="invoice">
    <table style="width:100%; border-bottom:1px solid #a7a6a6;">
      <tr class="logo_td">
        <td colspan="6">
        <h3 class="rapido">Rapido Travels India Pvt. Ltd.</h3>
        <p>#314, 1st Floor, 12th Main, 15th Cross, <br> 5th Phase, J.P. Nagar, Bangalore - 560 078.</p>
        <p>Ph : 080 - 26595567, 26585567</p>
        <p>E-mail : bookings@rapidotravels.co.in</p>
        <p>www.rapidotravels.co.in</p>
        </td>
        <td colspan="3"></td>
        <td colspan="3"><img src="{% static 'images/invoice_logo.png'%}" style="float:right;"></td>
      </tr>
    </table>
    
    <table>
      <tr>
        <th colspan="1"></th>
        <th colspan="6"></th> 
        <th colspan="1"></th>
        <th colspan="1"></th>
        <th colspan="1"></th>
        <th colspan="1"></th>
        <th colspan="1"></th>
      </tr>
      <tr>
        <td colspan="1">Company</td>
        <td colspan="6">{{ booking.company}}</td>       
        <td colspan="1"></td>
        <td colspan="1">Booking No</td>
        <td colspan="1">RTIPL-{{booking.servicing_city.city_code}}-{{booking.booking_id}}</td>
        <td colspan="1">Invoice No</td>
        <td colspan="1">INV {{booking.booking_id}}</td>
      </tr>
      <tr>
        <td colspan="1">Car Used By</td>
        <td colspan="9">{{ booking.guest_name }}</td>       
        <td colspan="1">Invoice Date</td>
        <td colspan="1">{{ dutyslip.updated_date.date }}</td>
      </tr>
      <tr style="width:100%; border-bottom:1px solid #a7a6a6;">
        <td colspan="1">Booked By</td>
        <td colspan="6">{{ booking.created_by }}</td>
        <td colspan="1"></td>
        <td colspan="1">Requested Branch</td>
        <td colspan="1">{{ booking.servicing_city.name }}</td>
        <td colspan="1">Used In</td>
        <td colspan="1">{{ booking.servicing_city.name }}</td>
      </tr>
      
      <!-------------------------------------------------------------------->
      
      <tr>
        <td colspan="1">Car No.</td>
        <td colspan="6">{{ dutyslip.vehicle_no }}</td>
        <td colspan="1">Car Allotted</td>
        <td colspan="1">{{ dutyslip.allocated_vehicle }}</td>
        <td colspan="1"></td>
        <td colspan="1">DS No.</td>
        <td colspan="1">{{booking.booking_id}}</td>
      </tr>
      
      <tr>
        <td colspan="1">Package</td>
        <td colspan="6">{{dutyslip.package}}</td>
        <td colspan="1">Car Billed</td>
        <td colspan="1">{{ dutyslip.allocated_vehicle }}</td>       
        <td colspan="1"></td>
        <td colspan="1">Pkg rate (<i class="fa fa-rupee"></i>)</td>
        <td colspan="1">{{ dutyslip.package_rate }}</td>
      </tr>     
      <tr>
        <td colspan="1">Km Used</td>
        <td colspan="6">{{dutyslip.km_used}}</td>
        <td colspan="1">Extra Km</td>
        <td colspan="1">{{dutyslip.extra_km}} X </td>
        <td colspan="1"><i class="fa fa-rupee"></i> {{dutyslip.extra_km_rate}}</td>
        <td colspan="1">Total Extra Km (<i class="fa fa-rupee"></i>)</td>
        <td colspan="1">{{dutyslip.extra_km_runrate}}</td>
      </tr>     
      <tr>
        <td colspan="1">FGR</td>
        <td colspan="6">{{dutyslip.fgr}}</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
      </tr>     
      <tr>
        <td colspan="1">Hr(s) Used</td>
        <td colspan="6">{{dutyslip.hrs_used}}</td>
        <td colspan="1">Extra Hr(s) </td>
        <td colspan="1">{{dutyslip.extra_hr}} X </td>
        <td colspan="1"><i class="fa fa-rupee"></i> {{dutyslip.extra_hr_rate}}</td>
        <td colspan="1">Total Extra Hr (<i class="fa fa-rupee"></i>)</td>
        <td colspan="1">{{dutyslip.extra_hr_runrate}}</td>
      </tr>
      <tr style="width:100%; border-bottom:1px solid #a7a6a6;">
        <td colspan="1">Car Used On</td>
        <td colspan="6">{{booking.pickup_date_time.date}}</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">Sub Total</td>
        <td colspan="1"></td>
        <td colspan="1">{{dutyslip.subtotal}}</td>
      </tr>
      
      <!-------------------------------------------------------------------->  
      <tr>
        <td colspan="7">Out Station Allowance ({{dutyslip.total_days}} Days)</td>
        <td colspan="1">{{dutyslip.daybhatta}}</td>
        <td colspan="1"></td>  
        <td colspan="1"></td>
        <td colspan="1">Parking & Toll</td>
        <td colspan="1">{{dutyslip.parking}}</td>
      </tr>
      <tr>
        <td colspan="7">Night</td> 
        <td colspan="1">{{dutyslip.nightbhatta}}</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">Permit</td>
        <td colspan="1">{{dutyslip.permit}}</td>
      </tr>
      
      <!-------------------------------------------------------------------->
      
      
      <tr>
        <td colspan="7">PAN : AAICR1074L</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">Other Charges</td>
        <td colspan="1"></td> 
        <td colspan="1">{{dutyslip.miscellaneous}}</td>
      </tr>
      <tr>
        <td colspan="7">Service Tax No. : AAICR1074LSD001</td>
        <td colspan="2">[ CGST 2.5% {{dutyslip.cgst_Rs}} ]</td>
        <td colspan="1">Total</td>
        <td colspan="1"></td> 
        <td colspan="1" id="total"></td>
      </tr>
      <tr>
        <td colspan="7">GST NO. : 29AAICR1074LIZY</td> 
        <td colspan="2">[ SGST 2.5% {{dutyslip.sgst_Rs}} ]</td>
        <td colspan="1">GST</td>
        <td colspan="1">5.0%</td>
        <td colspan="1">{{dutyslip.gst_Rs}}</td>
      </tr>
      <tr>
        <td colspan="7">Service Tax Category : Rent-A-Cab</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">Total Amount</td>
        <td colspan="1"></td>
        <td colspan="1">{{dutyslip.total_amount}}</td>
      </tr>   
      <tr>
        <td colspan="1"></td>
        <td colspan="6"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="2">Fuel Surcharge Impact*</td>       
        <td colspan="1">0.0</td>
      </tr>   
      <tr style="width:100%; border-bottom:1px solid #a7a6a6;">
        <td colspan="9">All Cheques / Drafts to be drawn in favor of Rapido Travels India Pvt. Ltd.</td>
        <td colspan="1">Discount</td>
        <td colspan="1"></td>  
        <td colspan="1">{{dutyslip.discount}}</td>
      </tr>
      <tr>
        <td colspan="9"></td>
        <td colspan="1"><strong>Net Payable</strong></td>
        <td colspan="1"></td> 
        <td colspan="1">{{dutyslip.amount_tobe_paid}}</td>
      </tr>     
    </table>
    
    <!---->
    
    <table style="width:100%;">
      <tr>
        <td colspan="4">
          <p style="font-weight:600 !important;">Billing Address</p>
          <p>{{ booking.company}}</p>
          <p>GST NO. {{ booking.company.gst}}</p>
        </td>
        <td colspan="4" style="width: 50%;"></td>     
        <td colspan="4" class="text-center">
          <p style="font-weight:600 !important;">For Rapido Travels India Pvt. Ltd.</p>
        </td>     
      </tr>
      <tr>
        <td colspan="4"> </td>
        <td colspan="4"> </td>     
        <td colspan="4">
          <p style="text-align:center; padding-top:5%;">Authorised Signatory</p>
        </td>     
      </tr>
    </table>
    
    <table style="width:100%; font-size:12px !important;">
      <tr>
        <td colspan="12">
          <p>1. Dutyslip / Statement of Usage enclosed in original.</p>
          <p>2. In case of any dispute the same must be brought into our notice in writing 7 days from the date of submission.</p>
          <p>3. All bills must be paid within 7 days of billing or within contracted payment period to avoid levy of 18% interest.</p>
          <p>4. All disputes are subject to Bangalore jurisdiction only.</p>
          <p class="note">Note :- We welcome your feedback on feedback@rapidotravels.co.in</p>
          <p>Regd. Off. #314, 1st Floor, 12th Main, 15th Cross, 5th Phase, JP Nagar, Bangalore - 560078.</p><br/>
          <p class="text-center">This is system generated E-bill,no need of signature.Incase of any queries please contact accounts@rapido.co.in within 7 days.</p>
        </td>         
      </tr>
    </table>
    
    <div class="row no-print">
      <div class="col-xs-12">
        <div class="col-xs-5"></div>
        <div class="center-block col-xs-2">
        <a href="/rapido/invoice_print/{{booking.booking_id}}" target="_blank" class=" btn btn-success"><i class="fa fa-print"></i> Print</a></div>
        <a href="/rapido/admin_closetrip/{{booking.booking_id}}" target="_blank" class=" btn btn-danger"><i class="fa fa-refresh"></i> ReCalculate</a></div><div class="col-xs-5"></div>
      </div>
    </div>  
  </section>

<style type="text/css">
  table{
    border-spacing: 0 !important;
    text-align: left;
  }
  td, th{
    //border:1px solid #a7a6a6;
    /*border-bottom:1px solid #a7a6a6;*/
    font-weight:500 !important;
    padding:6px;
  }

  td{
    padding: 3px;
    font-size: 13px;
  }
  .rapido{
    margin-top:0 !important;
    margin-bottom: 10px !important;
  }
  p{
    margin-top: 0 !important;
    margin-bottom:6px !important; 
  }
  thead img{
    //width:100% !important;
  }
  .reporting{
    border-bottom: transparent;
    //border-right: transparent;
    border-top: transparent;
  }
  .note{
    border:1px solid #a7a6a6;
    padding:5px;
    text-align:center;
    font-weight:600;
  }

  @media print{
    td{
      font-size: 11px;
    }
    footer{
      display: none;
    }
  }
  
</style>
<script type="text/javascript">
// window.print();
var total;
total = {{dutyslip.parking}}+{{dutyslip.miscellaneous}}+{{dutyslip.permit}}+{{dutyslip.subtotal}};
document.getElementById("total").innerHTML=total;
</script>

{% endblock %}
